*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* İŞTE BU KOMUT SAYFAYI ÇİVİLER */
  background-color: #121212; /* Uygulama yüklenirken beyaz parlama olmasın */
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased; /* Yazıları pürüzsüzleştirir */
}

#root {
  width: 100%;
  height: 100%;
}